page-login {

}

.forms {
    margin-top: 5%;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    margin-top: 3em;
}

.button {
    margin-top: 1em;
    height: 4em;
}
